<div class="card col-sm-3 burgerCardContainer">
                <!-- BURGER -->
     <div class="container justify-content-center">
        <div style="margin-top: 100%;" class="row burger-stack">
            <div>
                <img style="z-index: 3; max-width: 100%; margin-top: -100%; position: relative;"
                                class="ingredient card-img-top" src="assets2/ingredients/ingredient-1.png">
                <img style="z-index: 2; max-width: 100%; margin-top: -80%; position: relative;"
                                class="ingredient card-img-top" src="/assets2/ingredients/ingredient-10.png">
                <img style="z-index: 1; max-width: 100%; margin-top: -60%; position: relative;"
                                class="ingredient card-img-top" src="/assets2/ingredients/ingredient-23.png">
                <a href="">
                    <div class="card-body">
                         <h5 class="card-title"> Name </h5>
                    </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- BURGER -->
            </div>