<div class="comments">
  {{#each this}}
  <div class="card-body2 commenter">
    {{!-- <p class="card-body2 commenter"> --}}
      <h5 class="card-header usename">{{user.username}}</h5>
      <p class="card-text">{{text}} </p>
      <h6 class="card-text mb-2 text-muted text-end">{{format_date date_created}} </h6>
    {{!-- </p> --}}
  </div>
  {{/each}}
</div>
