<div class="card-body">
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: {{title}}</div>
      <div class="col-4">posted by {{user.username}} on {{format_date date_created}}</div>
    </div>  
  </a>

</div>