<div class="row">
  <div class="col-auto">
    {{!-- this can not be displayed somehow --}}
  <h2>Welcome! </h2>
  </div>
</div>
<br>
{{#if burgers.length}}
<div class="card flex-column">
  {{#each burgers as |burger|}}
  {{> edit-burger burger}}
  {{/each}}
</div>
{{/if}}