<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/burger-builder.css">
    <title>Burger Builder</title>
</head>
<body style="background-color: #F8F3E6;">

    <!-- #F8F3E6 OLD LACE LIGHT YELLOW-->
    <!-- #F3DE90 BUFF YELLOW-->
    <!-- #A20111 RUBY RED-->

    <nav style="background-color:#A20111;" class="navbar navbar-expand-md">
        <div class="container-fluid">
            <!-- <a class="text-light navbar-brand" href="#">Home</a> -->
            
            <button class="text-light navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="text-light nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-light nav-link" href="#">Builder</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-light nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-light nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
<!-- CONTAINER FOR COLUMNS -->


<!-- CONTAINER FOR COLUMNS -->
    <div class="container">
        <div class="row p-3">
        <!-- CARD -->
        <div class="card col-md-6">
            <h5 class="card-title text-center p-3">Ingredients</h5>
            <div id="ingredients" class="row p-3">
                <!-- GENERATED INGREDIENTS GO HERE -->
                <!-- <button id="1" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-1.png">Top Bun</button>
                <button id="2" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-2.png">Bacon</button>
                <button id="3" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-3.png">Pineapple</button>
                <button id="4" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-4.png">Pickles</button>
                <button id="5" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-5.png">Mushroom</button>
                <button id="6" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-6.png">Lettuce</button>
                <button id="7" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-7.png">Bell Peppers</button>
                <button id="8" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-8.png">Cheese</button>
                <button id="9" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-9.png">Tomato</button>
                <button id="10" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-10.png">Beef</button>
                <button id="11" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-11.png">Ketchup</button>
                <button id="12" class="btn col-4"><img class="card-img-top" src="../assets/ingredients/ingredient-12.png">Raddish</button> -->
                <!-- GENERATED INGREDIENTS GO HERE -->
            </div>
        </div>
        <!-- CARD -->
        <!-- CARD -->
        <div class="card col-md-6">
            <h5 class="card-title text-center p-3">Burger</h5>
            <!-- BURGER -->
            <div class="container justify-content-center">
                <div id="burger-gen" style="margin-top: 100%;" class="row burger-stack">
                    <!-- <img class="ingredient card-img-top" src="../assets/ingredients/ingredient-1.png">
                    <img class="ingredient card-img-top" src="../assets/ingredients/ingredient-10.png">
                    <img class="ingredient card-img-top" src="../assets/ingredients/ingredient-23.png"> -->
                </div>
            </div>
            <!-- BURGER -->
        </div>
        <!-- CARD -->
        <!-- CARD -->
        <div class="card">
            <h5 class="card-title text-center p-3">Results</h5>
            <!-- BURGER -->
            <!-- <div class="container justify-content-center">
                <div style="margin-top: 100%;" class="row burger-stack">
                    <div>
                      <img style="z-index: 3; max-width: 100%; margin-top: -100%; position: relative;" class="ingredient card-img-top" src="../assets/ingredients/ingredient-1.png">
                      <img style="z-index: 2; max-width: 100%; margin-top: -80%; position: relative;" class="ingredient card-img-top" src="../assets/ingredients/ingredient-10.png">
                      <img style="z-index: 1; max-width: 100%; margin-top: -60%; position: relative;" class="ingredient card-img-top" src="../assets/ingredients/ingredient-23.png">
                      <div class="card-body">
                        <h5 class="card-title"> Name </h5>
                      </div>
                    </div>
                </div>
            </div> -->
            <!-- BURGER -->
            <div class="card-body">
                
            </div>
          </div>
          <!-- CARD -->
        </div>
      </div>
<!-- CONTAINER FOR COLUMNS -->

<!-- INDIVIDUAL BURGER CARDS -->
      <!-- <div class="card">
        <div class="p-3 bg-light">
            <div class="col-12">
                <p>Created by INSERT HERE</p>
            </div>
            <div class="col-12">
                <p>
                    The quick brown fox jumped over the lazy dog.
                </p>
            </div>
        </div> -->
<!-- INDIVIDUAL BURGER CARDS -->

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="../public/js/burger-builder.js"></script>
</html>