{{!-- <div class="card">
  <h2 class="card-header">Edit Post</h2>
  <form class="card-body" id="edit-post-form">
      <div>
      <label class="form-label">Title:</label>
      <input class="form-input" type="text" name="post-title" value="{{post.postTitle}}"/>
    </div>
    
    <div>
      <label class="form-label">Content:</label>
      <textarea class="form-textarea form-input" name="post-body" data-number="8">{{post.postContent}}</textarea>
    </div>
 
    <button class="btn btn-primary" type="submit">EDIT</button>
    <input type="hidden" name="post-id" value="{{post.id}}"/>
  </form>
  <div class="card-body">
   <button class="btn btn-primary" type="click" id="delete-btn">DELETE</button>
  </div> 
</div> --}}



{{!-- <div class="card" style="width: 18rem;">
   class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div> --}}

<div class="card position-absolute top-50 start-50 translate-middle cardDeleteContainer" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/logo.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body cardDelete">
        <h5 class="card-title burgerTitleCard">{{burgers.title}}</h5>
        
        <button type="button" class="btn btn-danger btn-lg deleteBtn">DELETE</button>
       <p class="card-text burgersubCard">sad to see you go :( </p>
      </div>
    </div>
  </div>
</div>

<script src="/js/delete.js"></script>