
<div class="card position-absolute top-50 start-50 translate-middle cardDeleteContainer" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/logo.png" class="img-fluid rounded-start" alt="...">
    </div>
    <form class="col-md-8 deleteForm">
      <div class="card-body cardDelete">
        <h5 class="card-title burgerTitleCard">{{burgers.title}} {{burgers.id}}</h5>
        <input class="burgerInput" type="hidden" name="burgerInput" >
        <a class="btn btn-danger btn-lg deleteBtn" id="{{burgers.id}}" href="/dashboard">DELETE</a>
       {{!-- <h7 class="card-text burgersubCard"> This site is under maintance, please return :( </h7> --}}
      </div>
    </form>
  </div>
</div>

<script src="/js/delete.js"></script>