
<div class="card position-absolute top-50 start-50 translate-middle cardDeleteContainer" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/logo.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8 deleteForm">
      <div class="card-body cardDelete">
        <h5 class="card-title burgerTitleCard">{{burgers.title}}</h5>
        <input class="burgerInput" type="hidden" name="burgerInput" value={{{burger.user_id}}}>
        <button type="button" class="btn btn-danger btn-lg deleteBtn" data-id="{{burgers.burger_id}}">DELETE</button>
       <p class="card-text burgersubCard">sad to see you go :( </p>
      </div>
    </div>
  </div>
</div>

<script src="/js/delete.js"></script>