<div class="container">
    <div class="row">
        {{#if ""}}
        <div class="container justify-content-center">
            {{#each "" as ""}}
            {{>burgerPost}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>