<div class="position-relative ">
        <form class="position-absolute start-50 translate-middle-x login-form" id="loginform">
            <h2 class="card-title">Login</h2>
            <div class="mb-3">
                <label for="InputUser" class="form-label">Username</label>
                <input type="text" class="form-input" id="loginUser" aria-describedby="userHelp">

            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-input" id="loginPassword">
                <div id="userlHelp" class="form-text">We'll never share your information with anyone else.</div>
            </div>
            <div class="mb-3 form-check">
                <a class="registerHref">
                    Dont have an account?<span><a class="registerSpan" href="/signup"> Register</a></span>
                </a>
            </div>
            <button type="submit" class="btn position-absolute start-50 translate-middle-x loginBtn">Login</button>
        </form>
    </div>

    <script src="/js/login.js"></script>