
    <div class="container">
        <div class="row p-3">
        <!-- CARD -->
        <div class="card col-md-6">
            <h5 class="card-title text-center p-3">Ingredients</h5>
            <div id="ingredients" class="row p-3">
            </div>
        </div>
        <div class="card col-md-6">
            <h5 class="card-title text-center p-3">Burger</h5>
            <div class="container justify-content-center">
                <div id="burger-gen" style="margin-top: 100%;" class="row burger-stack">
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-title text-center p-3">Results</h5>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>

    </div>

<script src="/js/burger-builder.js"></script>