
body{
    background-color:#101010;
}
/* Navbar attributes */

.navbar{
    background-color: #101010;
    padding: 1rem;
    outline: 4px solid white;
    
}

.logo {
    max-height: 4em;
}

.burger-card {
    margin-top: 1rem;
    background-color: #222;
    color: #ddd;
    outline: 4px solid #ddd;
}

.navbartext{
    font-size: 2.4rem;
    margin-left: 1.9rem;
    color: white;
    text-shadow: 0 0 3px grey;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
    transition: transform 300ms;
}

.navbartext:hover{
    color: rgb(232, 38, 38);
    transform: translateY(-2px);
    text-decoration: underline;
    
}

/* Login and Signup attributes */

.signup-form,
.login-form{
    margin-top: 2.5rem;
    background-color: #101010;
    border-radius: 30px;
    padding: 4.2rem;
    color: #fff;
    font-size: larger;
    outline: 4px solid white;
    
}

.card-title{
    margin-bottom: 3.3rem;
    font-size: 2.4rem;
    
}

.registerHref{
    color: #fff;
    text-decoration: none;
}

.registerSpan{
    color: rgb(232, 38, 38);
    text-decoration: none;
    margin-left: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
    
}


.signupBtn,
.loginBtn{
    background-color: rgb(232, 38, 38);
    border-radius: 10px;
    /* font-family: 'Gloria Hallelujah', cursive; */
    padding-right: 3rem;
    padding-left: 3rem;
    color: #fff;
    font-size: 1.3rem;
}

.registerHref:hover{
    color: #fff;
}

.registerSpan:hover{
    text-decoration:line-through;
    color: #fff;
    font-size: 20px;
}

.loginBtn:hover{
    color:#fff;
}

/* Burger Container Attributes */
.burgers-container{
    margin-top: 1.9rem;
}



.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.burgerCardContainer{
    margin:30px; 
    justify-content: center;
    align-items: center;
    background-color: #222222;
    outline: 4px solid #ddd;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 4px rgba(12, 165, 139, 0.2);
}

.burgerImg{
    background-color: yellow;
}

.homepageBurger{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: block;
}
.author{
    color: yellow;
    text-transform: capitalize;
    font-family: 'Gloria Hallelujah', cursive;
}
.textBurger{
    color: #fff;
    text-align: center;
    justify-content: center;
    display: block;
}
/* For genered burger renderer */
.ingredient {
    max-width: 100%;
    margin-top: -100%;
    position: relative;
}

/* For the comments page */

.comm-bar{
    width: 40%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px 50px 30px;
}

.usertitle{
    margin: auto;
    width: 25%;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

.burgerinfo{
    margin: auto;
    width: 50%;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.usename{
    margin: auto;
    width: 80%;
    padding: 15px;
    border: solid #222 1px;
    border-radius: 8px;
    font-family: 'Bree Serif', serif;
    background-color: #222;
    color: #fff;
}

.submit-btn{
    margin-top: 10px;
    border: none;
}

.com-text{
    margin: auto;
    width: 80%;
    padding: 15px;
    border: solid #222 2px;
    border-radius: 5px;
    font-family: 'Lora', serif;
}

.com-date{
    margin: auto;
    width: 80%;
    padding: 15px;
    border: none;
}

.welcome{
    color: #fff;
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 3px grey;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Gloria Hallelujah', cursive;
    margin: 1.6rem;
}

.my-burgers{
    margin: auto;
    width: 80%;
    padding: 70px 0;
    border: none;
}

/* like button */

.like{
    margin: 0 0 0 1630px;
    padding: 7px 0;
    flex-direction: column;
}

.like-btn{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 70px;
    height: 25px;
    box-sizing: border-box;
    background: rgb(232, 38, 38);
    color: #fff;
    border: black 3px;
    border-radius: 3px;
    cursor: pointer;
}

.burgerCardContainer{
    transition: transform 300ms;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #222222;
}
.burgerCardContainer:hover{
    transform: translateY(-5px);
    
}

.editBTN{
    background-color:rgb(232, 38, 38); 
    padding: 4px;
    color: #fff;
    text-decoration:none;
    border-radius: 8px;
}